/* Fonts*/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), 
       url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
}
/*@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), 
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
}*/
/*Variables*/
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;

  
  --basic-blue: #81B3D2;
  --basic-grey-dark: #eeeeee;

  --basic-black-light: #333333;
  --basic-brown: #766357;

  --basic-grey-rating: #666666;
  --basic-grey-white: #F2F2F2;
  --basic-transparency:rgba(255, 255, 255, 0.9);

  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496BD;
  --basic-brown-hover: #604E43;
  --basic-brown-active: #503E33;

  --basic-transparency-active-white:rgba(255, 255, 255, 0.3);
  --basic-transparency-active-black: rgba(0, 0, 0, 0.3);
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-grey-white);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  height: 100%;
}

.container {
  width: 1200px;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}
a {
  text-decoration: none;
}

.main-navigation {
  font-weight: bold;
  position: relative;
}
.site-navigation {
  /*display: flex;
  justify-content: space-around;*/
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  padding: 15px 0;
  margin: 0;
}
.site-navigation .site-navigation-start {
  justify-self: start;
}
.site-navigation .site-navigation-end {
  justify-self: end;
}
.site-navigation-info {
  padding-left: 72px;
}
.site-navigation-hotels {
  padding-right: 72px;
}

.main-header-logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 138px;
  min-height: 70px;
}
.site-navigation a{
  color: var(--basic-black);
}

.sedona {
  position: relative;
  background-color: var(--basic-black);
  background-repeat: no-repeat;
  margin-bottom: 42px;
  background-image: url(../img/background-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 509px;
}
.sedona-text {
  position: absolute;
  left: 371px;
  top: 76px;
}
.sedona::before {
  content: "";
  background-image: url(../img/background-photo-bottom.png);
  position: absolute;
  width: 1200px;
  min-height: 57px;
  top: 452px;
}
.reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reason-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  min-height: 80px;
  margin-bottom: 16px;
  width: 470px;
}
.reason-text {
  color: var(--basic-black-light);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 51px;
}

.description {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
}
.description-text {
  text-align: center;
  padding: 47px 51px 54px 52px; 
}

.description-text h2{
  font-size: 21px;
  line-height: 21px;
}
.description-text p{
  font-size: 14px;
  line-height: 21px;
}
.description-photo {
  background-color: var(--basic-blue);
  width: 800px;
  height: 256px; 
}

.features {
  text-align: center;
} 
.features h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}
.features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}

.features-top {
  padding: 160px 49px 84px 50px;
}
.features-top-list {
  list-style: none;
  display: flex; 
  justify-content: space-between; 
  margin: 0;
  padding: 0;
}
.features-top-list li { 
  width: 300px;
}
.features-text {
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
}
.features-text-description {
  padding: 0;
  margin: 0;
}
.features-icon-house {
  position: relative;
}
.features-icon-house::before {
  content: "";
  position: absolute;
  bottom: 48px;
  left: 112px;
  background-image: url(../img/icons/house-icon.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
  margin: auto;
}
.features-icon-meal {
  position: relative;
}
.features-icon-meal::before {
  content: "";
  position: absolute;
  bottom: 49px;
  right: 113px;
  background-image: url(../img/icons/burger-icon.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 70px;
  margin: auto;
}
.features-icon-surprise {
  position: relative;
}
.features-icon-surprise::before {
  content: "";
  position: absolute;
  bottom: 49px;
  left: 117px;
  background-image: url(../img/icons/surprise-icon.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 77px;
  margin: auto;
}


.features-bottom {
  padding: 51px 33px 30px 65px; 
  
}
.features-bottom-list {
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-start; /*для переполнения*/
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-bottom-list li {
  width: 270px;
  /* outline: 2px solid yellow; */
  margin-right: 130px;
  margin-bottom: 20px;
}
.features-bottom-list li:nth-child(3n) {
  margin-right: 0;
}
.features-bottom {
  background-color: var(--basic-grey-dark);
}


.reservation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 58px 0 0 0;
}
.reservation-wrapper {
  text-align: center;
  width: 435px;
}
.reservation-header {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 33px;
}
.reservation-text {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 49px;
}
.reservation-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 568px;
  min-height: 86px;
  background-color: var(--basic-brown);
  border: none;
  cursor: pointer;
}
.reservation-button:hover {
  background-color: var(--basic-brown-hover);
}
.reservation-button:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-transparency-active-white);
}

.main-footer {
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--basic-transparency);
  min-height: 120px;
}

.main-footer-contact {
  font-size: 21px;
  line-height: 35px;
  font-weight: bold;
  padding-left: 73px;
  padding-bottom: 23px;
  
}
.main-footer-contact a{
  color: var(--basic-black);
}
.main-footer-contact p {
  margin: 0;
}
.main-footer-text {
  display: flex;
  align-items: center; 
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  padding-left: 66px;
  padding-bottom: 6px;
}

.main-footer-text-website {
  margin-right: 6px;
}
.main-footer-box {
   /* width: 300px;  */
  text-align: center;
  
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.social-list-color {
  display: grid;
  width: 46px;
  min-height: 48px;
  background-color: var(--basic-blue);
  /* display: flex; */
  margin-right: 6px;
}
.social-list li:nth-child(3) {
  margin-right: 0;
}
.social-list-icon {
  margin: auto;
}


/*Страница каталога!!!*/

/*Форма*/
/*Сортировка*/
/*Типы жилья*/

.housing-hotels {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.housing-hotels:hover {
  color: var(--basic-blue);
}
.housing-hotels:active {
  color: var(--basic-transparency-active-black);
}

.housing-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black-light);
}
.housing-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  border: none;
}
.housing-size {
  width: 135px;
  min-height: 90px;
}
.housing-more {
  background-color: var(--basic-blue);
}
.housing-more:hover {
  background-color: var(--basic-blue-hover);
}
.housing-more:active {
  background-color: var(--basic-blue-active);
  color: var(--basic-transparency-active-white);
}
.housing-reservation {
  background-color: var(--basic-brown);
}
.housing-reservation:hover {
  background-color: var(--basic-brown-hover);
}
.housing-reservation:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-transparency-active-white);
}
.housing {
  list-style: none;
}