/* Fonts*/
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/ptsans.woff2') format('woff2'), 
       url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/ptsansbold.woff2') format('woff2'),
       url('../fonts/ptsansbold.woff') format('woff');
}
/*@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), 
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff');
}*/
/*Variables*/
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;

  
  --basic-blue: #81B3D2;
  --basic-grey-dark: #eeeeee;

  --basic-black-light: #333333;
  --basic-brown: #766357;

  --basic-grey-rating: #666666;
  --basic-grey-white: #F2F2F2;
  --basic-transparency:rgba(255, 255, 255, 0.9);

  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496BD;
  --basic-brown-hover: #604E43;
  --basic-brown-active: #503E33;

  --basic-transparency-active:rgba(255, 255, 255, 0.3);
  --basic-transparency-active: rgba(0, 0, 0, 0.3);
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-grey-white);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}
a {
  text-decoration: none;
}

.main-navigation {
  font-weight: bold;
  position: relative;
}
.site-navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 15px 0;
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}
.main-header-logo {
  position: absolute;
  z-index: 1;
  margin: 0 531px;
  padding: 0;
  width: 138px;
  height: 70px;
}
.site-navigation a{
  color: var(--basic-black);
}

.welkome {
  position: relative;
  background-color: var(--basic-black);
  background-repeat: no-repeat;
  margin-bottom: 38px;
  background-image: url(../img/background-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  height: 509px;
}
.welkome-text {
  position: absolute;
  left: 371px;
  top: 76px;

}
.reason {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  width: 470px;
  min-height: 80px;
  margin-bottom: 16px;
}
.reason-text {
  color: var(--basic-black-light);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 51px;
}

.description {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  display: flex;
  
}
.description-text {
  text-align: center;
  padding: 47px 51px 54px 52px;
}

.description-text h2{
  font-size: 21px;
  line-height: 21px;
}
.description-text p{
  font-size: 14px;
  line-height: 21px;
}
.description-photo {
  background-color: var(--basic-blue);
  width: 800px;
  height: 256px;
}
.features {
  text-align: center;
}
.features-top {
  padding: 55px 65px 81px 73px;
}
.features-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.features-top-list li { 
  width: 300px;
}
.features-bottom {
  padding: 47px 77px 54px 96px;
}
.features-bottom-list li {
  width: 270px;
}
.features h3{
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  
}
.features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
}
.features-bottom {
  background-color: var(--basic-grey-dark);
}
.reservation {
  display: flex;
  justify-content: center;
  padding: 58px 0 78px 0;
}
.reservation-wrapper {
  text-align: center;
  width: 435px;
}
.reservation-header {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
}
.reservation-text {
  font-size: 14px;
  line-height: 21px;
}
.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--basic-transparency);
}
.main-footer-contact {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.main-footer-contact a{
  color: var(--basic-black);
}
.main-footer-contact p {
  margin: 0;
}
.main-footer-text {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
.main-footer-text-website {
  margin-right: 6px;
}
.main-footer-box {
  width: 300px;
  text-align: center;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.social-list-color {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  display: flex;
  margin-right: 6px;
}
.social-list li:nth-child(3) {
  margin-right: 0;
}
.social-list-icon {
  margin: auto;
  
}
/*Страница каталога!!!*/

/*Форма*/
/*Сортировка*/
/*Типы жилья*/

.housing-hotels {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
}
.housing-hotels:hover {
  color: var(--basic-blue);
}
.housing-hotels:active {
  color: var(--basic-transparency-active);
}

.housing-price {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black-light);
}
.housing-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  border: none;
}
.housing-size {
  width: 135px;
  height: 90px;
}
.housing-more {
  background-color: var(--basic-blue);
}
.housing-more:hover {
  background-color: var(--basic-blue-hover);
}
.housing-more:active {
  background-color: var(--basic-blue-active);
  color: var(--basic-transparency-active);
}
.housing-reservation {
  background-color: var(--basic-brown);
}
.housing-reservation:hover {
  background-color: var(--basic-brown-hover);
}
.housing-reservation:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-transparency-active);
}
.housing {
  list-style: none;
}