/* Fonts*/
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/ptsans.woff2") format("woff2"), 
       url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("woff");
}
/*Variables*/
:root {
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-blue: #81B3D2;
  --basic-grey-dark: #eeeeee;
  --basic-dark-grey: #888888;
  --basic-black-light: #333333;
  --basic-brown: #766357;
  --basic-grey-hard: #EBEBEB;
  --basic-grey-rating: #666666;
  --basic-grey-white: #F2F2F2;
  --basic-transparency:rgba(255, 255, 255, 0.9);
  --basic-grey-bottom: #E5E5E5;
  --basic-blue-hover: #669EC0;
  --basic-blue-active: #5496BD;
  --basic-brown-hover: #604E43;
  --basic-brown-active: #503E33;
  --basic-grey: #A9A9A9;
  --basic-grey-toggle: #ABABAB;
  --bacic-toggle-shadow: rgba(171, 171, 171, 0.3);
  --basic-transparency-shadows-white: rgba(0, 1, 1, 0.2);
  --basic-transparency-shadows-grey: rgba(0, 1, 1, 0.15);
  --basic-transparency-active-white: rgba(255, 255, 255, 0.3);
  --basic-transparency-active-black: rgba(0, 0, 0, 0.3);
}
html {
  height: 100%;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  background-color: var(--basic-grey-white);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.container {
  position: relative;
  width: 1200px;
  margin: auto;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px var(--basic-transparency-shadows-white);
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.main-navigation {
  font-weight: bold;
  position: relative;
}
.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 14px;
  line-height: 26px;
  list-style: none;
  padding: 15px 0px;
  margin: 0;
}
.site-navigation-item {
  min-width: 120px;
}
.site-navigation-item:nth-child(1) {
  margin-left: 72px;
}
.site-navigation-item:nth-child(4) {
  margin-right: 72px;
}
.site-navigation-start {
  justify-self: start;
  text-align: start;
}
.site-navigation-end {
  justify-self: end;
  text-align: end;
}
.main-header-logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  width: 138px;
  min-height: 70px;
}
.site-navigation a{
  color: var(--basic-black);
}
.site-navigation a:hover,
.site-navigation a:focus {
  color: var(--basic-blue);
}
.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}
.site-on-page-hotels a {
  color: var(--basic-brown);
}
.sedona {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--basic-black);
  margin-bottom: 42px;
  background-image: url(../img/background-photo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  width: 1200px;
  min-height: 509px;
}
.sedona::before {
  content: "";
  background-image: url(../img/background-photo-bottom.png);
  position: absolute;
  width: 1200px;
  min-height: 57px;
  top: 452px;
}
.reason {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.reason-header {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  min-height: 80px;
  margin-bottom: 16px;
  width: 500px;
}
.reason-text {
  color: var(--basic-black-light);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 51px;
}
.description {
  display: flex;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}
.description-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 49px 48px 41px 48px; 
}
.description-header {
  width: 152px;
  margin: 0;
  padding:0;
  font-size: 21px;
  line-height: 21px;
  padding-bottom: 27px;
}
.description-text-item {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding:0;
}
.description-text-number {
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}
.description-text-number::before,
.description-text-number::after {
  content: "";
  display: block;
  width: 7px;
  height: 1px;
  background-color: var(--basic-white);
}
.description-text-number::before {
  margin-right: 5px;
}
.description-text-number::after {
  margin-left: 5px;
}
.description-photo {
  width: 800px;
  height: 256px; 
}
.features {
  text-align: center;
} 
.features h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}
.features p {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black-light);
}
.features-top {
  padding: 160px 50px 82px 50px;
}
.features-top-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 100px;
  row-gap: 120px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-item {
  margin: 0;
  padding: 0;
}
.features-item h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 26px;
}
.features-item p {
  margin: 0;
  padding: 0;
}
.features-icon-house {
  position: relative;
}
.features-icon-house::before {
  content: "";
  position: absolute;
  bottom: 48px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/icons/house-icon.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 72px;
}
.features-icon-meal {
  position: relative;
}
.features-icon-meal::before {
  content: "";
  position: absolute;
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/icons/burger-icon.svg);
  background-repeat: no-repeat;
  width: 75px;
  height: 70px;
}
.features-icon-surprise {
  position: relative;
}
.features-icon-surprise::before {
  content: "";
  position: absolute;
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(../img/icons/surprise-icon.svg);
  background-repeat: no-repeat;
  width: 64px;
  height: 77px;
} 
.features-bottom {
  padding: 47px 63px 54px 63px;
  margin: 0;
  background-color: var(--basic-grey-dark);
}
.features-bottom-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 126px;
  row-gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.features-bottom-item-header {
  margin: auto;
  padding: 0;
  margin-bottom: 28px;
  width: 155px;
}
.features-bottom-content {
  margin: 0;
  padding: 0;
}
.features-bottom-number {
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-bottom-number::before,
.features-bottom-number::after {
  content: "";
  display: block;
  width: 7px;
  height: 1px;
  background-color: var(--basic-black-light);
}
.features-bottom-number::before {
  margin-right: 5px;
}
.features-bottom-number::after {
  margin-left: 5px;
}
.reservation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 58px 0 0 0;
}
.reservation-wrapper {
  text-align: center;
  width: 435px;
}
.reservation-header {
  font-size: 30px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 33px;
}
.reservation-text {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 49px;
  padding: 0;
  margin: 0;
  padding-bottom: 43px;
}
.reservation-button {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
  width: 568px;
  min-height: 86px;
  background-color: var(--basic-brown);
  border: none;
  text-align: center;
  padding: 28px;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 2;
}
.reservation-button:hover {
  background-color: var(--basic-brown-hover);
}
.reservation-button:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-transparency-active-white);
}
/*Форма*/
.search-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; 
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 100%;
  width: 568px;
  margin-left: -284px;
  height: 395px;
  padding: 41px 55px 56px 56px;
  background-color: var(--basic-white);
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  box-shadow: 0px 7px 15px var(--basic-transparency-shadows-grey);
  animation: bounce 0.5s;
}
@keyframes bounce {
  0% {
    transform: translateY(-86px);
  }
  100% {
    transform: translateY(0);
  }
}
.search-form-hide {
  display: none;
}
.search-text {
  width: 346px;
  height: 37px;
  font: inherit;
  text-transform: uppercase;
  background-color: var(--basic-grey-white);
  border: none;
  margin: 0;
  padding: 0;
  padding-left: 13px;
  box-sizing: border-box;
}
.search-form input[type="text"]::placeholder {
  color: var(--basic-black);
}
.search-text:hover {
  background-color: var(--basic-grey-hard);
}
.search-text:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--basic-grey-bottom);
}
.search-calendar-in {
  position: absolute;
  top: 62px;
  right: 64px;
  cursor: pointer;
}
.search-calendar-out {
  position: absolute;
  top: 129px;
  right: 64px;
  cursor: pointer;
}
.search-calendar {
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.search-calendar:hover path,
.search-calendar:focus path {
  fill: var(--basic-black);
}
.search-calendar:active path {
  fill: var(--basic-blue);
}
.search-form-submit:hover,
.search-form-submit:focus {
  background-color: var(--basic-blue-hover);
}
.search-form-submit:active {
  background-color: var(--basic-blue-active);
  color: var(--basic-transparency-active-white);
}
.search-form-submit {
  width: 100%;
  min-height: 58px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-blue);
  border: none;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-white);
  text-transform: uppercase;
  margin-top: auto;
}
.search-form-submit:hover,
.search-form-submit:focus {
  background-color: var(--basic-blue-hover);
}
.search-form-submit:active {
  background-color: var(--basic-blue-active);
  color: var(--basic-transparency-active-white);
}
.quantity {
  display: flex;
  align-items: center;
  min-height: 40px;
  width: 457px;
  margin-bottom: 9px;
}
.quantity-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 40px;
  background-color: var(--basic-grey-white);
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.quantity-text:hover {
  background-color: var(--basic-grey-hard);
}
.quantity-text:focus {
  background-color: var(--basic-white);
  outline: 2px solid var(--basic-grey-bottom);
}
.quantity-button:hover path {
  fill: var(--basic-black);
}
.quantity-button:active path {
  fill: var(--basic-blue);
}
.quantity-button:hover rect {
  fill: var(--basic-black);
}
.quantity-button:active rect {
  fill: var(--basic-blue);
}
.button-minus-adult {
  margin-left: 40px;
}
.button-plus-adult {
  margin-right: 52px;
}
.button-minus-children {
  margin-left: 26px;
}
.map {
  background-image: url(../img/map.png);
  width: 1200px;
  height: 594px;
}
.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  background-color: var(--basic-transparency);
  min-height: 120px;
  position: absolute;
  bottom: 0;
  width: 100%;
  grid-row-start: 2;
  grid-row-end: 3;
}
.hotels-footer {
  position: static;
}
.main-footer-box {
  text-align: center;
}
.main-footer-contact {
  font-size: 21px;
  line-height: 35px;
  font-weight: bold;
  padding-left: 73px;
  padding-bottom: 17px;
}
.main-footer-contact a {
  color: var(--basic-black);
}
.main-footer-contact p {
  margin: 0;
}
.main-footer-logo {
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  padding-left: 65px;
  padding-top: 8px;
} 
.main-footer-icon {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: -16px;
  left: 148px;
}
.footer-text {
  position: absolute;
  width: 80px;
  right: 120px;
}
.main-footer-logo a {
  color: var(--basic-black);
}
.main-footer-icon:hover path,
.main-footer-icon:focus path {
  fill: var(--basic-blue);
}
.main-footer-icon:active path,
.main-footer-icon:focus path {
  fill: var(--basic-black);
  opacity: 0.3;
}
.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
  padding-left: 4px;
}
.social-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  min-height: 48px;
  background-color: var(--basic-blue);
  margin-right: 6px;
}
.social-list-icon:hover,
.social-list-icon:focus {
  background-color: var(--basic-blue-hover);
}
.social-list-icon:active {
  background-color: var(--basic-blue-active);
}
.social-list-icon:active path {
  opacity: 0.3;
}
.quantity-text {
  width: 37px;
  height: 37px;
  font: inherit;
  text-transform: uppercase;
  background-color: var(--basic-grey-white);
  border: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*Страница каталога!*/
.filters {
  background-color: var(--basic-blue);
  background-image: url(../img/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 1200px;
  min-height: 217px;
}
.filter {
  display: flex;
  flex-wrap: wrap;
  padding: 27px 72px 8px 72px;
}
.filter-header {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: var(--basic-white);
  margin-bottom: 24px;
}
.filter-header-price {
  margin-bottom: 10px;
}
.filter-list {
  margin: 0;
  padding: 0;
  color: var(--basic-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  padding-left: 42px;
}
.filter-section {
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 119px;
}
.filter-section:last-child {
  margin-right: 0;
}
.filter-option {
  list-style: none;
  margin-bottom: 25px;
}
.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
}
.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/icons/mark-check.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -42px;
  width: 26px;
  height: 23px;
  background-image: url("../img/icons/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.filter-input-checkbox:focus + label {
  outline: 1px solid var(--basic-black);
  outline-style: auto;
}
.filter-input-checkbox:hover + label {
  opacity: 0.6;
}
.filter-section-price {
  margin-left: auto; 
  display: flex;
  flex-direction: column;
}
.price-controls {
  position: relative;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-white);
  width: 317px;
  min-height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  margin-bottom: 20px;
}
.price-controls::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 5px;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
}
.price-controls input {
  width: 50px;
  min-height: 30px;
  color: inherit;
  border: none;
  background-color: transparent;
}
.price-controls input[type="number"] {
  -moz-appearance:textfield;
}
.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.min-price {
  margin-left: 64px;
}
.max-price {
  margin-left: 67px;
}
.range-price {
  position: relative;
  height: 2px;
  background-color: var(--basic-transparency-active-white);
}
.range-control {
  height: 2px;
  background-color: var(--basic-white);
  width: 80%;
}
.range-toggle {
  position: absolute;
  top: -9px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--basic-grey-toggle);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
  box-shadow: 0 2px 0px 0 var(--bacic-toggle-shadow);
  cursor: pointer;
}
.range-toggle-max {
  left: 252px;
}
.range-toggle:hover {
  transform: scale(1.2);
}
.range-show {
  padding: 0;
  margin: 0;
  width: 137px;
  min-height: 36px;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  color: var(--basic-white);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-self: center;
  margin-top: 33px;
  margin-right: 11px;
}
.range-show:hover,
.range-show:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
/*Сортировка*/
.search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--basic-grey-bottom);
  padding: 29px 65px 31px 73px;
}
.search-header {
  margin: 0;
  padding: 0;
  margin-right: 46px;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px; 
  color: var(--basic-black);
}
.search-header-min {
  margin: 0;
  padding: 0;
  margin-right: 40px;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.search-wrapper {
  display: flex;
  justify-content: space-between;
  width: 777px;
}
.search-sort {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}
.search-link {
  margin-right: 34px;
  color: var(--basic-transparency-active-black);
  border-bottom: 1px dashed var(--basic-blue);
}
.search-link-active {
  color: var(--basic-blue);
  border-bottom: none;
}
.search-small-arrow {
  margin-left: 12px;
  cursor: pointer;
}
.search-link:hover,
.search-link:focus {
  color: var(--basic-blue);
  border-bottom: 1px dashed var(--basic-blue);
}
.search-link:active {
  color: var(--basic-black);
  border-bottom: none;
}
.arrow-top:hover path,
.arrow-top:focus path {
  fill: var(--basic-black);
}
.arrow-top:active path,
.arrow-top:focus path {
  fill: var(--basic-blue);
}
.arrow-bottom:hover path,
.arrow-bottom:focus path {
  fill: var(--basic-black);
}
.arrow-bottom:active path,
.arrow-bottom:focus path {
  fill: var(--basic-blue);
}
/*Типы жилья*/
.housing-items {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  padding: 22px 73px 26px 73px;
  border-bottom: 1px solid var(--basic-grey-bottom);
}
.housing-img {
  margin-right: 29px;
}
.housing-hotels {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: var(--basic-black);
  margin: 0;
  padding: 0;
}
.housing-hotels:hover {
  color: var(--basic-blue);
}
.housing-hotels:active {
  color: var(--basic-transparency-active-black);
}
.housing-content {
  width: 781px;
  min-height: 100px;
}
.housing-welkome-text {
  display: flex;
}
.housing-text {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  margin-top: 7px;
  min-width: 110px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black-light);
}
.housing-text-price {
  margin-left: 5px;
}
.housing-button {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: var(--basic-white);
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  margin-top: 3px;
  margin-left: 1px;
}
.housing-more {
  width: 110px;
  min-height: 27px;
  background-color: var(--basic-blue);
}
.housing-reservation {
  width: 142px;
  min-height: 27px;
  background-color: var(--basic-brown);
}
.housing-size {
  width: 135px;
  min-height: 90px;
  margin-top: 8px;
}
.housing-result {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 120px;
  min-height: 97px;
}
.housing-stars {
  margin-top: 5px;
}
.housing-rating {
  width: 110px;
  min-height: 27px;
  background-color: var( --basic-grey-white);
  text-align: center;
  margin-top: auto;
}
.housing-rating-text {
  display: block;
  margin: auto;
  width: 86px;
  padding: 3px 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: var( --basic-grey-rating);
}
.housing-more:hover {
  background-color: var(--basic-blue-hover);
}
.housing-more:active {
  background-color: var(--basic-blue-active);
  color: var(--basic-transparency-active-white);
}
.housing-reservation:hover {
  background-color: var(--basic-brown-hover);
}
.housing-reservation:active {
  background-color: var(--basic-brown-active);
  color: var(--basic-transparency-active-white);
}
